# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
yarn.lock

# Nuxt build
.nuxt
.output
.cache
dist
.next
.vercel

# Local env files
.env
.env.
!.env.example

# Editor  OS files
.DS_Store
Thumbs.db
.idea
.vscode
!.vscodeextensions.json

# Logs
.log
logs
