[phases.install]
cmds = [
  "corepack enable",
  "corepack prepare pnpm@9.15.1 --activate",
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm run start"
